---
import { ViewTransitions } from 'astro:transitions';
import '@/styles/globals.css';
---

<html lang="en" transition:animate="none">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <ViewTransitions />
	</head>
	<body class="mx-auto max-w-5xl mt-5 dark" transition:animate="slide">
		<slot />
	</body>
</html>
